git+https://github.com/elifesciences/elife-tools.git@5eecbc2d94905b028b4ae339b7a7475bf1a71bf4#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@fe3d0a549a280eec229dd935cb537511c245be99#egg=elifearticle
git+https://github.com/elifesciences/ejp-csv-parser.git@da55770eb754158477128c24f08a4d7727aa5279#egg=ejpcsvparser
GitPython==0.3.2.1
configparser==3.5.0